[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "3.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-environ = "*"
pillow = "*"
psycopg2-binary = "*"
psycopg2 = "*"
djangorestframework-simplejwt = "*"
django-import-export = "*"
django-multiupload = "*"
easy-thumbnails = "*"
django-filer = "*"
django-filer-addons = {path = "C:/Users/suyas/Desktop/django-filer-addons"}
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
